
<header class="modal-header">
    <h5>{{title}}</h5>
</header>
<div class="form-modal-container">

<form [formGroup]="form">
    <div class="form-group" >
      <label >Tên Danh Mục</label>
      <input type="email" class="form-control" formControlName="name" name="name" placeholder="Tên danh mục không được để trống" >

    </div>
    <div class="mb-3">
        <label  class="form-label">Mô Tả</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="decriptions" name="decriptions"></textarea>
      </div>
  </form>
      
</div>
<div class="modal-footer">
    <button type="submit" class="btn btn-sm btn-primary"(click)="onSubmit()" [disabled]="!form.valid">Submit</button>
    <button type="submit" class="btn btn-sm btn-danger" (click)="closeModal()">Cancel</button>
</div>