<app-header></app-header>
    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading back-groundnew" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->


    <!-- ***** Product Area Starts ***** -->
    <section class="section" id="product">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                <div class="left-images">
                    <img [src]="product?.img" alt="" width="500" height="550">
                    <!-- <img src="assets/images/single-product-02.jpg" alt=""> -->
                </div>
            </div>
            <div class="col-lg-4">
                <div class="right-content">
                    <h4>{{product?.name}}</h4>
                    <br>
                    <h6>{{product?.categoryName}}</h6>
                    <span class="price">${{product?.price}}</span>
                    <ul class="stars">
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                        <li><i class="fa fa-star"></i></li>
                    </ul>
                    <span>Quantity: {{product?.quantity}}</span>
                    <div class="size-options" style="display: flex;">
                        <span class="{{this.sizeId == size.id ?'boder-red':''}}" (click)="selectSize(size.id)" *ngFor="let size of this.product?.size" class="size">{{size.name}}</span>   
                    </div>
                
                    <div class="quantity-content">
                        <i class="fa fa-quote-left"></i><span style="margin-top: 5px;">{{product?.description}}</span>
                    </div>
                    <div class="total" >
     
                        <div class="main-border-button" *ngIf="user != null" style="cursor: pointer;"><a (click)="addCart(product)">Add To Cart</a></div>
                        <div class="main-border-button" *ngIf="user == null" style="cursor: pointer;"><a routerLink="/login" >Add To Cart</a></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="row preview-session">
                <hr>
                <h3>Product Preview</h3>
                <div class="preview-user" style="margin-top: 10px;">
                    <ng-container *ngFor="let pr of previews">
                    <div class="col-12">
                        <div style="display: flex; ">
                         <h6>{{pr.user.userName}} :</h6>  <i *ngIf="userRole == '0'" (click)="removePreview(pr.id)" class="fa fa-trash" style="margin-left: 15px; cursor: pointer;"></i>
                        </div>
                        
                        <div class="content" style="margin-top: 5px;">
                            {{pr.decriptions}}
                        </div>
                    </div>
                    </ng-container>
                </div>
            </div>
        </div>
    </section >
    <!-- ***** Product Area Ends ***** -->
    <app-footer></app-footer>