<div class="bg-light text-center rounded p-4 height-85">
    <div class="d-flex align-items-center justify-content-between mb-4">
        <h5>Quản Lý Đơn Đặt Hàng</h5>
        <div>
            <form class="d-none d-md-flex ms-4">
                <!-- <input class="form-control border-0" type="search" placeholder="Tìm kiếm"> -->
            </form>
        </div>
    </div>
    <div class="btn-creater-content">
        <!-- <button class="btn btn-sm btn-success" (click)="openModal()">Tạo mới</button> -->
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">STT</th>
                    <th scope="col">Mã Đơn Hàng</th>
                    <th scope="col">Ngày đặt hàng</th>
                    <th scope="col">Tên Khách Hàng</th>
                    <th scope="col">Email</th>
                    <th scope="col">Tổng giá</th>
                    <th scope="col">Trạng Thái Đơn Hàng</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listData | paginate: { itemsPerPage: itemsPerPage, currentPage: page, totalItems: total } ;let index = index">
                    <th scope="row">{{index+1}}</th>
                    <td>{{item.id}}</td>
                    <td>{{item.orderDate}}</td>
                    <td>{{item.userInfor.userName}}</td>
                    <td>{{item.userInfor.email}}</td>
                    <td>{{item.sumPrice}}</td>
                    <td *ngIf="item.status == 0">Đợi Xác Nhận</td>
                    <td *ngIf="item.status == 1">Đã Hoàn Thành</td>
                    <td *ngIf="item.status == 2">Đã Xác Nhận</td>
                    <td *ngIf="item.status == 3">Đang Giao Hàng</td>
                    <td>
                        <button class="btn btn-sm btn-info btn-edit" (click)="openDetailModal(item)">Detail</button>
                        <button class="btn btn-sm btn-primary btn-edit" (click)="openModal(item)">Edit</button>
                        <button class="btn btn-sm btn-danger" (click)="onDelete(item.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="page-list">
        <pagination-controls [previousLabel]="'Trước'" [nextLabel]="'Tiếp theo'" (pageChange)="pageChangeEvent($event)"></pagination-controls>
    </div>
</div>
