<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="index.html" class="logo">
                        <img src="assets/images/logo.png">
                    </a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                        <li class="scroll-to-section"><a href="#men">Men's</a></li>
                        <li class="scroll-to-section"><a href="#women">Women's</a></li>
                        <li class="scroll-to-section" routerLink="/product" style="cursor: pointer;"><a>Products</a></li>
                        <!-- <li class="submenu">
                            <a href="javascript:;">Pages</a>
                            <ul>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="products.html">Products</a></li>
                                <li><a href="single-product.html">Single Product</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </li> -->
                    
                        <li *ngIf="user != null" class="submenu" style="margin-left: 25px;cursor: pointer;">
                            <a >{{user}}</a>
                            <ul>
                                <li  style="cursor: pointer;"><a>My Score : {{userScore}}</a></li>
                                <li  routerLink="/myorder" style="cursor: pointer;"><a>My Order</a></li>
                                <li (click)="logout()" style="cursor: pointer;"><a>Logout</a></li>
                                <li *ngIf="userRole == '0'" routerLink="/admin" style="cursor: pointer;">
                                    <a>Dashboard</a>
                                </li>
                            </ul>
                        </li>
                        <li *ngIf="user == null" routerLink="/login" class="scroll-to-section" style="cursor: pointer;">
                            <a  >Login</a>
                        </li>
                     
                        <li class="scroll-to-section cart-li" style="cursor: pointer;" routerLink="/cart">
                            <a>
                            <i style="font-size: 20px;" class="fa fa-shopping-cart" aria-hidden="true"></i>
                        </a> <span *ngIf="cartCount != 0" class="cart-count">{{cartCount}}</span></li>
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
