/* You can add global styles to this file, and also import other style files */
.btn-creater-content {
    width: 100%;
    padding-right: 20px;
    margin-bottom: 5px;
    text-align: right;
}

.form-modal-container {
    padding: 20px;
}

.modal-footer {
    padding: 5px;
}
.btn-edit{
    margin-right: 5px;
}
.height-85{
    height: 85vh !important;
}
.page-list{
    display: flex;
    text-align: left;
}
.btn-edit{
    padding-left: 17px;
    padding-right: 17px;
}